mixin result(source, price, onlinePrice)
  td
    img(src=`/img/logo/${source.toLowerCase()}` alt=source)
  td #{price}
  td #{onlinePrice}

.card
  .card__header
    .card__picture
      .card__picture-overlay &nbsp;
      img.card__picture-img(src=`${book.img}` alt=`${book.title}`)
  .card__title
    h2 #{book.title}
    h3 #{book.author}
  table.content-table
    thead
      tr
        th &nbsp;
        th
          img(src='/img/icon/store.svg' alt='store_icon')
        th
          img(src='/img/icon/internet.svg' alt='internet_icon')
    tbody
      +result(book.source, book.price, book.onlinePrice)