extends base

mixin result(src)
    tr
        td
            a(href=`${src.url}`, target="_blank", rel="noopener noreferrer")
                img(src=`/img/logo/${src.name}.png` alt=src.name)
        td #{(src.price)?new Intl.NumberFormat('de-DE', { maximumFractionDigits: 2, minimumFractionDigits: 2 }).format(src.price):'/'}
        td #{(src.onlinePrice)?new Intl.NumberFormat('de-DE', { maximumFractionDigits: 2, minimumFractionDigits: 2 }).format(src.onlinePrice):'/'}
        td.wishlist
            i.addWishList.fa-heart(data-title=`${src.title}` data-author=`${src.author}` data-image=`${src.img}` data-price=`${src.price}` data-online-price=`${src.onlinePrice}` data-source=`${src.name}` data-url=`${src.url}` class=`${(user && user.wishListSet.has(src.url))?'fas':'far'}`)
                
  
block content
    include _filters
    if books.length == 0
        h1(style="height: 35.2vh; text-align: center") No Results... 
    else
        .card-container
            each book in books
                .card
                    .card__picture
                        img.card__picture-img(src=`${book.source[0].img}` alt=`${book.title}`)
                    .card__info
                        p.card__info-title #{book.title.toUpperCase()}
                        p.card__info-author #{book.author}
                    table.content-table
                        thead
                            tr
                                th &nbsp;
                                th
                                    img(src='/img/icon/store.svg' alt='store_icon')
                                th
                                    img(src='/img/icon/internet.svg' alt='internet_icon')
                        tbody
                            each src in book.source
                                +result(src)
block prepend foot
    if (pageInfo) 
        ul.footer__pagination
            if (pageInfo.previousPage)      
                li: a(href=`${pageInfo.previousPage}`) Previous  
            if (pageInfo.currentPage)
                li: a(href='#') #{pageInfo.currentPage} 
            if (pageInfo.nextPage)
                li: a(href=`${pageInfo.nextPage}`) Next 